.bannerComponent {

	* {
		box-sizing: border-box;
		font-family: Arial, Helvetica, Neue;
	}

	.link {
		text-decoration: none;
		color: black;
		margin: 10px;
		flex-shrink: 1;
	}
  .container {
		// max-width: 700px;  //2021-08-23 MZ:  Added maxWidth to prop pane
		margin: 0px auto;
		border: 1px solid #EAEAEA;
	}

	.flexContainer {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		display: flex;

		flex-wrap: wrap;
		justify-content: center;
		padding: 10px;
		margin: 0px;
		width: 100%;
		box-sizing: border-box;
	}

	.rdurContainer {
		width: 100%;
		margin-top: 3px;
		text-align: right;
	}

	.courseCount {
		padding-left: 10px;
		padding-top: 5px;
		padding-right: 10px;
		color: #7f7f7f;
	}

	.assetCount {
		padding-right: 10px;
		padding-top: 5px;
		color: #7f7f7f;
	}

	.pathTitle {
		font-family: Arial, Helvetica, Neue;
		padding: 14px 10px;
		position: relative;
		margin: 0px;
		color: rgba(0,0,0,.87);
		font-size: 18px;
		font-weight: 400;
		height: auto;
	}

	.pathTitle:hover {
		color: #1e8bd0;
		text-decoration: underline;
	}

	.header {
		position: relative;
    width: 100%;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    align-items: center;
    padding: 20px;

	}

	.viewAll {
		text-decoration: none;
		color: #1e8bd0;
		float: right;
		font-size: 16px;
	}

	.titleLink:hover{
		text-decoration: underline;
	}

	.title {
		// width: 100%;
		// display: block;
		// padding: 20px 20px 0px 20px;
		// margin: 0px;
		// text-align: left;
		font-size: 16px;
	}

	.description {
		color: #857874;
		font-size: 14px;
		margin: 0px;
		padding: 5px 10px 24px;
		font-weight: 100;
		line-height: 21px;
		overflow: hidden;
	}

	.singleCard {
		box-shadow: 0px 1px 3px rgba(0,0,0,.2);
		max-width: 318px;
		height: 100%;
	}

	.failedCard {
		max-width: 318px;
		height: 100%;
		border: 1px solid rgba(234, 234, 234, 1);
		box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
		box-sizing: border-box;
		margin: 10px;
	}

	.thumbnail {
		width: 100%;
		height: 100%;
		max-height: 179px;
	}

	
	// 2021-08-25:  MZ Added for horizontal layout for panel
	.singleCardH {
		box-shadow: 0px 1px 3px rgba(0,0,0,.2);
		// max-width: 318px;
		height: 100%;
		display: flex;
		flex-wrap: nowrap;
		align-items: center;
	}

	.thumbnailH {
		// width: 100%;
		// height: 100px;
		max-width: 150px;
	}

	
	.previewH {
		max-height: 179px;
    flex: 0 0 120px;
		align-self: flex-start;
		position: relative;
		margin-right: 1rem;
		top: 15px;
	}

	.flexContainerSB {
		display: -webkit-box;
		display: -moz-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		-webkit-flex-wrap: wrap;
		-moz-flex-wrap: wrap;
		display: flex;

		flex-wrap: wrap;
		justify-content: space-between;
		// padding: 10px;
		margin: 0px;
		width: 100%;
		box-sizing: border-box;
	}

	.preview {
		max-height: 179px;
    flex: 0 0 120px;
		align-self: flex-start;
		position: relative;
		margin-right: 1rem;
		top: 20px;
	}

	.duration {
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 1px 5px 0;
    font-size: .86rem;
    color: #d9d9d6;
		background-color: rgba(0,0,0,.6);
		margin-bottom: 3px;
	}

}