


.drillDown {
      //https://www.w3.org/TR/CSS21/selector.html%23id-selectors#type-selectors

      //#eaeaea is the default color for selected list items
      .timeListView *[data-automationid="DetailsRowFields"] {
        background-color:  #FFFAB0 ;
        transition: all 0.3s ease;
      }

      .timeListView *[data-automationid="DetailsRowFields"] :hover  {
        background-color:  #c2c2c2 ;
        color: #212121;
        transition: all 0.3s ease;
      }

      .timeListView *[data-automationid="DetailsRowFields"] :hover  {
        background-color:  #c2c2c2 ;
        color: #212121;
        transition: all 0.3s ease;
      }


}