
.easy-pages {
  position: absolute;
  height: 0px;
  padding: 2em;
  /* width: calc(100% - 60px -4em ); */
  /* width: calc(100% - 6em -33px ); Added this in v10 when moving to SourcePage model */
  width: calc(100% - 6em -33px );
/*   background: transparent;
  color: transparent; */
  transition:.4s;
  opacity: 0;
  overflow: hidden;

  /* https://github.com/mikezimm/drilldown7/issues/266 */
  transform-origin: top;
  transform: scaleY(0);
}

.ep-drilldown {
    width: calc(100% - 88px );
}

.easy-pages-spa {
  width: calc(100% - 6em );
}

/* https://github.com/mikezimm/drilldown7/issues/263 */
.ep-drilldown-spa {
  width: calc(100% - 4em );
}

.easy-pages-close {
  overflow: hidden;
  position: absolute;
  top: 0px;
  right: 0px;
  margin: 7px 10px 0px 0px;
  cursor: pointer;
  padding: 10px;
  font-weight: 700;
  font-size: large;
  border-radius: 5px;
  transition:.4s;

}

.easy-pages-close:hover {
  /* same rgb as onHover pivot tab */
  background: #efeeee; 
  transition:.4s;
}

.easy-pages.expand {
  height: auto;
  min-height: 35vh;
  background: lightgray;
  color: black;
  transition:.4s;
  opacity: 1;
  overflow: hidden;
  z-index: 1;

  /* https://cssgenerator.org/box-shadow-css-generator.html */
  box-shadow: 2px 13px 18px 6px rgba(0,0,0,0.47);
  -webkit-box-shadow: 2px 13px 18px 6px rgba(0,0,0,0.47);
  -moz-box-shadow: 2px 13px 18px 6px rgba(0,0,0,0.47);

  /* https://github.com/mikezimm/drilldown7/issues/266 */
  transform-origin: top;
  transform: scaleY(1);
}

.easy-container {
  padding-bottom: 20px;
  padding-top: 20px;
}

.easy-link {
  cursor: pointer;
  padding: 5px 30px 5px 30px;
  margin: 10px 0px;
  transition:.4s;
  min-height: 1.5em;

  display: grid;
  grid-template-columns: 100px auto;
  grid-template-rows: 1.5em auto;
  grid-column-gap: 50px;
  grid-row-gap: 6px;

}

@media screen and (min-width: 1100px) {
  .easy-container-2col {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  /* .easy-link-2col { width: 500px; }  NOT NEEDED */
}

.easy-link-image {
  width: 100%;
  object-fit:contain; /* This can be one of the 5 values from above */
  grid-area: 1 / 1 / 3 / 2;

  filter: grayscale(50%);
  -webkit-filter: grayscale(50%);
  -webkit-transition: all 1s ease;
  transition: .5s ease;
}

.easy-link-image:hover{
  filter: grayscale(0%);
  filter: gray;
  -webkit-filter: grayscale(0%);
  filter: none;

  -webkit-transform: scale(1.5);
  -ms-transform: scale(1.5);
  transform: scale(1.5);


  transition: .5s ease;
  }

.easy-link:hover {
  /* font-weight: 700; */
  background: gray;
  transition:.4s;
}

.easy-link-title {
  /* max-width: 300px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: 700;
  font-size: larger;
  grid-area: 1 / 2 / 2 / 3;
}

/* Adjustment if this item is the current page */
.easy-link-current-title {
  font-size: x-large;
  height: 2em;
}

.easy-link-current-title i {
  font-size: x-large;
  font-weight: 600;
  color: #0078d4;
  margin-right: 20px;
}

.easy-link-desc {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  grid-area: 2 / 2 / 3 / 3;
}

.easy-pages .fps-performance {
  padding-top: 0px !important;
}


.easy-pages .fps-performance tr {
  background: transparent !important;
  transition:.4s;
}

.easy-pages .fps-performance tr:hover {
  background: #eee !important;
  transition:.4s;
}


.source-page {
  /* position: absolute;
  height: 0px;
  padding: 2em;
  width: calc(100% - 6em ); */

/*   background: transparent;
  color: transparent; */
  height: auto;
  opacity: 1;
  overflow: hidden;
  transition:.4s;
}

.hide-source-page {
  height: 0px;
  opacity: 0;
  overflow: hidden;
  transition:.4s;
}