@import '~office-ui-fabric-react/dist/sass/References.scss';

//Copied to chartsPage.module.scss so it can be more stand alone.

.contents {

    .toggleRed {
      background-color: 'red'
    }

    .container {
      max-width: 100%;
      margin: 0px auto;
      margin-top: 15px;
      //box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2), 0 25px 50px 0 rgba(0, 0, 0, 0.1);
    }

    //  This moves the "Help" Pivot to the far right
    .rightPivot *[data-content="Hidden"]  {
      float:  right !important;
    }

    //  This moves the "Help" Pivot to the far right
    .rightContents *[data-content="RailsOff"]  {
      float:  right !important;
    }


    //  This moves the "Help" Pivot to the far right
    .pageToggles {
      padding-top: 0;
      padding-bottom: 0;
    }

    .padLeft20 {
        padding-left: 20px;
    }
    
/***
 *         .d8888. d88888b  .d8b.  d8888b.  .o88b. db   db 
 *         88'  YP 88'     d8' `8b 88  `8D d8P  Y8 88   88 
 *         `8bo.   88ooooo 88ooo88 88oobY' 8P      88ooo88 
 *           `Y8b. 88~~~~~ 88~~~88 88`8b   8b      88~~~88 
 *         db   8D 88.     88   88 88 `88. Y8b  d8 88   88 
 *         `8888Y' Y88888P YP   YP 88   YD  `Y88P' YP   YP 
 *                                                         
 *                                                         
 */

    .showSearch {
      transition:all 0.4s ease;
      //transition:height 0.4s ease;
      //transition:padding-bottom 0.4s ease;
      //transition:transform 0.4s ease;
      transform:scaleY(1);
      transform-origin:top;
      height:50px;
      //max-height: 100px;
      overflow: hidden;
      padding-bottom: 20px;
    }

    .hideSearch {
      transition:all 0.4s ease;
      //transition:height 0.4s ease;
      //transition:padding-bottom 0.4s ease;
      //transition:transform 0.4s ease;
      height:0;
      overflow: hidden;
      padding-bottom: 0px;
      transform:scaleY(0);
    }

    .floatRight {
      //width: 1200px;
      //max-width: 500px;
      display: flex;
      justify-content: space-between;
      //align-items: center makes items centered vertically
      align-items: center;
    }

    .hideMe {
      display: none;
    }
    
    .showErrorMessage {
      display:"";
      padding-left: 40px;
      padding-bottom: 40px;
    }

    .showErrorMessageNoPad {
      display:"";
      padding-bottom: 40px;
    }
      
    .floatLeft {
        //width: 1200px;
        //max-width: 500px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        //align-items: center makes items centered vertically
        align-items: center;
    
        //These did nothing to prevent the left icons from shifting on hover.
        //border: 0px;
        //margin: 0px;
        //padding: 0px;
    }

    .searchContainer {
      //width: 1200px;
      //max-width: 500px;
      //width: 100%;
      display: flex;
      //justify-content: space-between;
      //align-items: center makes items centered vertically
      align-items: left;
      vertical-align: middle;
      //These did nothing to prevent the left icons from shifting on hover.
      //border: 0px;
      //margin: 0px;
      //padding: 0px;
    }

    .searchBox {
      //@extend .floatLeft;
      width: 100%;
      //padding-bottom: 20px;
    }

    .searchStatus {
      @extend .floatRight;
      display: inline-block;
      white-space: nowrap;
      padding-left: 20px;
      padding-right: 60px;
      //text-align: right;
    }
    
}