.createButtons {
    .floatRight {
        //width: 1200px;
        //max-width: 500px;
        display: flex;
        justify-content: space-between;
        //align-items: center makes items centered vertically
        align-items: center;
      }
}

.buttons{
  //padding-right: 10px;
  -webkit-font-smoothing: antialiased;
  transition:all 0.4s ease;
  border-radius: 5px;
  :hover{
    background-color: lightgray;
    transition:all 0.4s ease;
    border-radius: 5px;
  }
}

.buttonsBig {
  @extend .buttons;
  margin:10px;
}